@model Shedule.Models.TypeOfClasses

<div class="modal-content">
    <div class="modal-header">
        <h4>Новая запись</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">x</button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.LabelFor(model => model.Name)
                <p>@Html.EditorFor(model => model.Name)</p>
            </div>
            <p><input type="submit" value="Добавить" /></p>
        }
    </div>
</div>
