/*body {
    font-size: .875rem;
    line-height: 1.2;
}*/
* {
    font-size: .900rem;
    line-height: 1.2;
}
/*body {
    font-size: .875rem;
    line-height: 1.2;
}*/

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*table{

}*/


.nn {
    margin-bottom: 0rem;    
}
.nn td{
    border-top: hidden;
}

.table th,.table td {
    padding: 0.2rem;
}

/*table .collapse.in {
    display: table-row;
}*/


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
  /*color: #87CEFA;*/
}

.sidebar .nav-link.active {
  /*color: #007bff;*/
  color:#4169E0;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  /*color: inherit;*/
  color:#4169E0;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */
.navbar {
    background: linear-gradient(to right, #87CEFA, #4169E0);
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    font-weight:600;
    /*background-color: rgba(0, 0, 0, .25);*/
    /*background: linear-gradient(to right, #FFFFFF, #4169E0);*/
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.card-header {
    background-color: rgba(20, 137, 156, 0.14);
}

.infobox {
    background-color: rgba(20, 137, 156, 0.14);
    border:groove;
}

