@model Shedule.Models.Speciality

<div class="modal-content">
    <div class="modal-header d-flex justify-content-center">
        <h4>Редактирование записи</h4>
        @*<button class="close" data-dismiss="modal" area-hidden="true">x</button>*@
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(с => с.Id)
            <div>
                @Html.LabelFor(model => model.Name)
                <p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</p>
            </div>

            <div class="d-flex justify-content">
                <input type="submit" class="btn btn-outline-success" value="Сохранить" />
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отмена</button>
            </div>

        }
    </div>
</div>


