@{
        Layout = null;
        Response.ContentType = "text/xml";
    }
    @model IEnumerable<Shedule.Models.TypeOfClasses>
    <data>

        @foreach (var types in Model)
        {
            <types key="@types.Id">

                <label><![CDATA[@types.Name]]></label>
            </types>
        }
    </data>
