@{
    ViewBag.Title = "ПО Расписание";
}
<div class="jumbotron">
    <h2 class="text-center">ПО Расписание</h2>
    <h3 class="text-danger text-center">Программа находится на стадии разработки</h3>
    <h4>Статус готовности:</h4>
    <p> -Домашняя страница - 20%</p>
    <p> -Расписание - 50%</p>
    <p> -Отчеты - 20%</p>
    <p> -Авторизация и пользователи - 40% </p>
    <p> -Валидация - 40% </p>
    <p> -Справочнки - 90%(тестирование)</p>
    <p> Все отзывы и предложения направляйте на электроную почту: <b>vpn@copycon.ru, oto@copycon.ru</b></p>
    <p> Телефоны для связи: <b>8 (912) 749-18-00, 8 (912) 028-31-98, 8 (3412) 918-005</b></p>
</div>
