@{
    ViewBag.Title = "ПО Расписание";
}
<div class="jumbotron">
    <h2 class="text-center">ПО Расписание</h2>
    <h3>Программа находится на стадии разработки</h3>
    <h4>Статус готовности:</h4>
<p>-Домашняя страница - 10%</p>
<p>-Расписание - 40%</p>
<p>-Отчеты - 10%</p>
<p>-Авторизация и пользователи - 30% </p>
<p>-Справочнки "Группы","Циклы" и "Предметы" - 90%(тестирование, поиск и исправление ошибок)</p>
<p>-Остальные справочники - 90%(тестирование)</p>
<p>Все отзывы и предложения направляйте на электроную почту: <b>vpn@copycon.ru</b>,телефон для связи: <b>89127491800</b></p>
</div>
